<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {{ include('TKUserManagerBundle:Layouts:_stylesheets.html.twig') }}
    {% block extra_stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>

    {% include('TKUserManagerBundle:Layouts:_header.html.twig') %}

    <div class="container">
      {% include('TKUserManagerBundle:Layouts:_messages.html.twig') %}

      {% block content %}{% endblock %}

      {% include('TKUserManagerBundle:Layouts:_footer.html.twig') %}
    </div>

    {% include('TKUserManagerBundle:Layouts:_scripts.html.twig') %}
    {% block extra_scripts %}{% endblock %}
    
  </body>
</html>