{% extends 'TKUserManagerBundle::base.html.twig' %}


{% block title %}TKUserManagerBundle:StaticPages:home{% endblock %}

{% block content %}
<div class="center jumbotron">
  <h1>Welcome to the TKUserManager</h1>

  <h2>
    This is the home page for the 
    <a href="https://github.com/Sevnekish/user_manager">TKUserManager</a> app
  </h2>
  <br>
  <a href="" class="btn btn-lg btn-primary">Sign up now!</a>
</div>

{% endblock %}
