{% extends 'TKUserManagerBundle::base.html.twig' %}


{% block title %}TKUserManagerBundle:StaticPages:home{% endblock %}

{% block content %}
<h1>Welcome to the StaticPages:home page</h1>
{% endblock %}
